@charset "UTF-8";
/* *******************************************************
* 파일이름 : index.css
* 파일설명 : 메인페이지, 서브페이지 커스텀 CSS

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */
@import url(../css/com/c_layout.css);
/* 메인 배너 */
.visual-area {
  width: 100%;
  background-color: #edf1f5;
}

.visual-area .inner::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/index_visual.png) no-repeat 100% 100%;
  background-size: contain;
}

.visual-area .tit,
.visual-area .desc {
  position: relative;
  z-index: 2;
}

.visual-area .inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-6);
  position: relative;
  padding: var(--krds-spacer-20) 0;
}

.visual-area .tit {
  font-size: var(--krds-fz-display-md);
  font-weight: 700;
}

.search-area .area-tit {
  margin-bottom: var(--krds-spacer-6);
  font-size: var(--krds-fz-title-xlg);
}

.search-top-box .sch-form-wrap {
  margin-bottom: var(--krds-spacer-10);
}

.sch-form-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-spacer-4);
}

.sch-input {
  display: flex;
  position: relative;
}

.form-control {
  position: relative;
  width: 100%;
  height: var(--krds-input-h-lg);
  padding: 0 var(--krds-input-px-lg);
  background-color: var(--krds-white);
  border: 1px solid var(--krds-gray-60);
  border-radius: var(--krds-input-rd-lg);
  font-family: inherit;
  font-size: var(--krds-input-fz-lg);
  color: var(--krds-gray-90);
  transition: 0.4s ease-in-out;
}

.form-control:placeholder-shown {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.search-top-box .sch-form-wrap .sch-input .form-control {
  width: 54.8rem;
}

.sch-input .form-control {
  padding: 0 var(--krds-spacer-12) 0 var(--krds-spacer-4);
}

.sch-input .form-control ~ .ico-sch {
  width: 2.4rem;
  height: 2.4rem;
}

.sch-input .ico-sch {
  position: absolute;
  top: 50%;
  right: var(--krds-spacer-4);
  transform: translateY(-50%);
}

.btn-ico.ico-sch {
  background-image: url(../images/icon/ico_sch_40.svg);
}

.btn-ico[class*=ico-] {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: auto;
  height: var(--krds-btn-h-lg);
  padding: 0 var(--krds-btn-px-lg);
  border: 1px solid var(--krds-primary);
  border-radius: var(--krds-btn-rd-lg);
  font-size: var(--krds-fz-body-lg);
  color: var(--krds-white);
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--krds-primary-60);
  border-color: var(--krds-primary-60);
}

.btn:active {
  background-color: var(--krds-primary-70);
  border-color: var(--krds-primary-60);
}

.btn:focus {
  color: rgba(255, 255, 255, 0.9);
  transition: none;
}

.btn[disabled] {
  background-color: var(--krds-gray-30);
  border-color: var(--krds-gray-30);
  color: var(--krds-gray-60);
  cursor: default;
}

.btn-ico {
  color: inherit !important;
  border: 0 !important;
  background-color: inherit !important;
  padding: 0 !important;
}

.search-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--krds-spacer-6);
}

.search-area .search-list.sty-guide {
  grid-template-columns: repeat(5, 1fr);
}

.search-area .search-list.compo-guide {
  grid-template-columns: repeat(4, 1fr);
}

.search-list .li {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-6);
  padding: var(--krds-spacer-6);
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: var(--krds-rd-12);
  border: 0.1rem solid var(--krds-gray-40);
}

.search-list .li {
  padding: 0;
}

.search-list .img-wrap {
  height: 20rem;
  background-color: #edf1f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  border-radius: inherit;
  text-align: center;
  border-bottom: 1px solid var(--krds-gray-40);
}

.sty-guide .img-wrap.sty_guide_1 {
  background-image: url(../images/img_sty_guide_1.png);
}
.sty-guide .img-wrap.sty_guide_2 {
  background-image: url(../images/img_sty_guide_2.png);
}
.sty-guide .img-wrap.sty_guide_3 {
  background-image: url(../images/img_sty_guide_3.png);
}
.sty-guide .img-wrap.sty_guide_4 {
  background-image: url(../images/img_sty_guide_4.png);
}
.sty-guide .img-wrap.sty_guide_5 {
  background-image: url(../images/img_sty_guide_5.png);
}

.compo-guide .img-wrap.com_guide_1 {
  background-image: url(../images/img_com_guide_1.png);
}
.compo-guide .img-wrap.com_guide_2 {
  background-image: url(../images/img_com_guide_2.png);
}
.compo-guide .img-wrap.com_guide_3 {
  background-image: url(../images/img_com_guide_3.png);
}
.compo-guide .img-wrap.com_guide_4 {
  background-image: url(../images/img_com_guide_4.png);
}
.compo-guide .img-wrap.com_guide_5 {
  background-image: url(../images/img_com_guide_5.png);
}
.compo-guide .img-wrap.com_guide_6 {
  background-image: url(../images/img_com_guide_6.png);
}
.compo-guide .img-wrap.com_guide_7 {
  background-image: url(../images/img_com_guide_7.png);
}
.compo-guide .img-wrap.com_guide_8 {
  background-image: url(../images/img_com_guide_8.png);
}
.compo-guide .img-wrap.com_guide_9 {
  background-image: url(../images/img_com_guide_9.png);
}
.compo-guide .img-wrap.com_guide_10 {
  background-image: url(../images/img_com_guide_10.png);
}
.compo-guide .img-wrap.com_guide_11 {
  background-image: url(../images/img_com_guide_11.png);
}
.compo-guide .img-wrap.com_guide_12 {
  background-image: url(../images/img_com_guide_12.png);
}
.compo-guide .img-wrap.com_guide_13 {
  background-image: url(../images/img_com_guide_13.png);
}
.compo-guide .img-wrap.com_guide_14 {
  background-image: url(../images/img_com_guide_14.png);
}
.compo-guide .img-wrap.com_guide_15 {
  background-image: url(../images/img_com_guide_15.png);
}
.compo-guide .img-wrap.com_guide_16 {
  background-image: url(../images/img_com_guide_16.png);
}
.compo-guide .img-wrap.com_guide_17 {
  background-image: url(../images/img_com_guide_17.png);
}
.compo-guide .img-wrap.com_guide_18 {
  background-image: url(../images/img_com_guide_18.png);
}
.compo-guide .img-wrap.com_guide_19 {
  background-image: url(../images/img_com_guide_19.png);
}
.compo-guide .img-wrap.com_guide_20 {
  background-image: url(../images/img_com_guide_20.png);
}
.compo-guide .img-wrap.com_guide_21 {
  background-image: url(../images/img_com_guide_21.png);
}
.compo-guide .img-wrap.com_guide_22 {
  background-image: url(../images/img_com_guide_22.png);
}
.compo-guide .img-wrap.com_guide_23 {
  background-image: url(../images/img_com_guide_23.png);
}
.compo-guide .img-wrap.com_guide_24 {
  background-image: url(../images/img_com_guide_24.png);
}
.compo-guide .img-wrap.com_guide_25 {
  background-image: url(../images/img_com_guide_25.png);
}
.compo-guide .img-wrap.com_guide_26 {
  background-image: url(../images/img_com_guide_26.png);
}
.compo-guide .img-wrap.com_guide_27 {
  background-image: url(../images/img_com_guide_27.png);
}
.compo-guide .img-wrap.com_guide_28 {
  background-image: url(../images/img_com_guide_28.png);
}
.compo-guide .img-wrap.com_guide_29 {
  background-image: url(../images/img_com_guide_29.png);
}
.compo-guide .img-wrap.com_guide_30 {
  background-image: url(../images/img_com_guide_30.png);
}
.compo-guide .img-wrap.com_guide_31 {
  background-image: url(../images/img_com_guide_31.png);
}
.compo-guide .img-wrap.com_guide_32 {
  background-image: url(../images/img_com_guide_32.png);
}
.compo-guide .img-wrap.com_guide_33 {
  background-image: url(../images/img_com_guide_33.png);
}
.compo-guide .img-wrap.com_guide_34 {
  background-image: url(../images/img_com_guide_34.png);
}

.search-list .conts-wrap {
  position: relative;
  height: calc(100% - 20rem);
  gap: var(--krds-spacer-3);
  padding: var(--krds-spacer-6);
}

.conts-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-18);
  width: 100%;
  color: var(--krds-gray-70);
}

.conts-wrap > * {
  width: 100%;
}

.krds-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: var(--krds-fz-label-sm);
  color: var(--krds-primary-60);
  height: 2.4rem;
  padding: 0 var(--krds-spacer-2);
  border-radius: 0.4rem;
  background-color: var(--krds-primary-5);
}

.search-area .search-list .conts-wrap .tit {
  margin-top: calc(var(--krds-spacer-2) * -1);
  font-size: var(--krds-fz-title-md);
}

.search-area .search-list .conts-wrap .tit .sub {
  font-size: var(--krds-fz-body-sm);
  color: #555555;
  font-weight: 500;
}

.search-area .search-list .conts-wrap .desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  height: 70%;
}

.move-link {
  gap: 1.5rem;
  align-self: flex-end;
}

.move-link a {
  text-decoration: underline;
  font-weight: 700;
}

.move-link a:hover {
  color: var(--krds-primary);
  text-decoration: underline;
}