@charset "UTF-8";
/* *******************************************************
* 파일이름 : sc_component.css
* 파일설명 : 공통 컴포넌트 체계화

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */

/* 리스트(검색 시 활용) */
/* **** 공통component_01 :: 스킵네비게이션 **** */
/* **** 공통component_02 :: 브레드크럼 **** */
/* **** 공통component_03 :: 콘텐츠 내 탐색 **** */
/* **** 공통component_04 :: 페이지네이션 **** */
/* **** 공통component_05 :: 달력 **** */
/* **** 공통component_06 :: 디스클로저 **** */
/* **** 공통component_07 :: 모달 **** */
/* **** 공통component_08 :: 배지 **** */
/* **** 공통component_09 :: 아코디언 **** */
/* **** 공통component_10 :: 캐러셀 **** */
/* **** 공통component_11 :: 탭 **** */
/* **** 공통component_12 :: 표 **** */
/* **** 공통component_13 :: 링크 **** */
/* **** 공통component_14 :: 버튼 **** */
/* **** 공통component_15 :: 라디오버튼(Input) **** */
/* **** 공통component_16 :: 체크박스(Input) **** */
/* **** 공통component_17 :: 셀렉트박스 **** */
/* **** 공통component_18 :: 태그 **** */
/* **** 공통component_19 :: 단계표시기 **** */
/* **** 공통component_20 :: 스피너(로딩) **** */
/* **** 공통component_21 :: 툴팁 **** */
/* **** 공통component_22 :: 코치마크 **** */
/* **** 공통component_23 :: 날짜입력피드(Input) **** */
/* **** 공통component_24 :: 텍스트입력필드(Input) **** */
/* **** 공통component_25 :: 텍스트영역(Textarea) **** */
/* **** 공통component_26 :: 파일업로드 **** */
/* **** 공통component_27 :: 개인식별정보입력 **** */
/* **** 공통component_28 :: 검색 **** */
/* **** 공통component_29 :: 오류 **** */
/* **** 공통component_30 :: 로그인폼 **** */
/* **** 공통component_31 :: 필터링 정렬폼 **** */

/* --------------------- 시작 --------------------- */

/* ************** 공통component_01 :: 스킵네비게이션 ************** */
@import "./components/skipnavigation";

/* ************** 공통component_02 :: 브레드크럼 ************** */
@import "./components/breadcrumb";

/* ************** 공통component_03 :: 콘텐츠 내 탐색 ************** */
@import "./components/in_page_navigation";

/* ************** 공통component_04 :: 페이지네이션 ************** */
@import "./components/pagenation";

/* ************** 공통component_05 :: 달력 ************** */
@import "./components/calendar";

/* ************** 공통component_06 :: 디스클로저 ************** */
@import "./components/disclosure";

/* ************** 공통component_07 :: 모달 ************** */
@import "./components/modal";

/* ************** 공통component_08 :: 배지 ************** */
@import "./components/badge";

/* ************** 공통component_09 :: 아코디언 ************** */
@import "./components/accordion";

/* ************** 공통component_10 :: 캐러셀 ************** */
@import "./components/carousel";

/* ************** 공통component_11 :: 탭 ************** */
@import "./components/tab";

/* ************** 공통component_12 :: 표 ************** */
@import "./components/table";

/* ************** 공통component_13 :: 링크 ************** */
@import "./components/link";
/* ************** 공통component_14 :: 버튼 ************** */
@import "./components/button";

/* ************** 공통 :: 라디오버튼 & 체크박스 ************** */
/* 공통 */
.chk-area {
  display: flex;
  gap: var(--krds-spacer-6);
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.form-check input[type="radio"] ~ label,
.form-check input[type="checkbox"] ~ label {
  position: relative;
  display: inline-flex;
  min-height: var(--krds-rdo-size-md);
  padding-left: calc(var(--krds-rdo-size-md) + var(--krds-spacer-2));
  font-size: var(--krds-rdo-fz-md);
  line-height: var(--krds-rdo-size-md);
}

.form-check input[type="radio"] ~ label:before,
.form-check input[type="radio"] ~ label:after,
.form-check input[type="checkbox"] ~ label:before,
.form-check input[type="checkbox"] ~ label:after {
  content: "";
  display: block;
  transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
  box-sizing: border-box;
}

/* ************** 공통component_15 :: 라디오버튼(Input) ************** */
@import "./components/radio_button";

/* ************** 공통component_16 :: 체크박스(Input) ************** */
@import "./components/checkbox";

/* ************** 공통component_17 :: 셀렉트박스 ************** */
@import "./components/selectbox";

/* ************** 공통 :: input / 셀렉트박스 / 텍스트영역  ************** */

input,
select {
  height: 32px;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 1.4rem;
  color: #333333;
  box-sizing: border-box;
}

/* ************** 공통component_18 :: 태그 ************** */
@import "./components/tag";

/* ************** 공통component_19 :: 단계표시기 ************** */
@import "./components/step_indicator";

/* ************** 공통component_20 :: 스피너(로딩) ************** */
@import "./components/spinner";

/* ************** 공통component_21 :: 툴팁 ************** */
@import "./components/tooltip";

/* ************** 공통component_22 :: 코치마크 ************** */
@import "./components/coachmark";

/* ************** 공통component_23 :: 날짜입력피드(Input) ************** */
@import "./components/date_input";

/* ************** 공통component_24 :: 텍스트입력필드(Input) ************** */
@import "./components/text_input";

/* ************** 공통component_25 :: 텍스트영역(Textarea) ************** */
@import "./components/textarea";

/* ************** 공통component_26 :: 파일업로드 ************** */
@import "./components/file_upload";

/* ************** 공통component_27 :: 개인식별정보입력 ************** */
@import "./components/personal_information";

/* ************** 공통component_28 :: 검색 ************** */
@import "./components/search";

/* ************** 공통component_29 :: 오류 ************** */
@import "./components/error";

/* ************** 공통component_30 :: 로그인폼 ************** */
@import "./components/login_form";
/* ************** 공통component_31 :: 필터링 정렬폼 ************** */
@import "./components/filtering_form";
