@charset "utf-8";

/* *******************************************************
* 파일이름 : c_color.css
* 파일설명 : 사용된 전체 색상을 체계화하여 구축

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */

/* 리스트(검색 시 활용) */
/* **** 공통color_01 :: System_color : 시스템 색상 ****/
/* **** 공통color_02 :: Primary_color : 주요 색상 ****/
/* **** 공통color_03 :: Secondary_color : 보조 색상 ****/
/* **** 공통color_04 :: Point_color : 집중 색상 ****/
/* **** 공통color_05 :: Grayscale : BG, Text, Line 색상 ****/

/* --------------------- 시작 --------------------- */

:root {
  /* **** 공통color_01 :: System_color **** */
  --krds-white: #fff;
  --krds-black: #000;
  --krds-primary: #246beb;
  --krds-secondary: #003675;
  --krds-point: #e71825;
  --krds-danger: #eb003b;
  --krds-warning: #ffb724;
  --krds-success: #008a1e;
  --krds-information: #2768ff;

  /* **** 공통color_02 :: Primary_color **** */
  --krds-primary-5: #eff5ff;
  --krds-primary-10: #d3e1fb;
  --krds-primary-20: #a7c4f7;
  --krds-primary-30: #7ca6f3;
  --krds-primary-40: #5089ef;
  --krds-primary-60: #1d56bc;
  --krds-primary-70: #16408d;
  --krds-primary-80: #0e2b5e;
  --krds-primary-90: #07152f;

  /* **** 공통color_03 :: Secondary_color **** */
  --krds-secondary-5: #edf1f5;
  --krds-secondary-10: #cdd7e4;
  --krds-secondary-20: #b4c4d6;
  --krds-secondary-30: #99b0cb;
  --krds-secondary-40: #2a5c96;
  --krds-secondary-60: #002b5e;
  --krds-secondary-70: #002046;
  --krds-secondary-80: #00162f;
  --krds-secondary-90: #000b17;

  /* **** 공통color_04 :: Point_color **** */
  --krds-point-5: #fdf2f3;
  --krds-point-10: #fad1d3;
  --krds-point-20: #f5a3a8;
  --krds-point-30: #f1747c;
  --krds-point-40: #ec4651;
  --krds-point-60: #b9131e;
  --krds-point-70: #8b0e16;
  --krds-point-80: #5c0a0f;
  --krds-point-90: #2e0507;

  /* **** 공통color_05 :: Grayscale **** */
  --krds-gray-5: #f8f8f8;
  --krds-gray-10: #f0f0f0;
  --krds-gray-20: #e4e4e4;
  --krds-gray-30: #d8d8d8;
  --krds-gray-40: #c6c6c6;
  --krds-gray-50: #8e8e8e;
  --krds-gray-60: #717171;
  --krds-gray-70: #555555;
  --krds-gray-80: #2d2d2d;
  --krds-gray-90: #1d1d1d;
}
