@charset "utf-8";

/* *******************************************************
* 파일이름 : c_layout.css
* 파일설명 : 전체적인 레이아웃 구조를 체계화

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */

/* 리스트(검색 시 활용) */
/* **** 공통layout_01 :: 전체 영역 ****/
/* **** 공통layout_02 :: 헤더 영역  ****/
/* **** 공통layout_03 :: 컨테이너 영역 ****/
/* **** 공통layout_04 :: 왼쪽메뉴 영역 ****/
/* **** 공통layout_05 :: 콘텐츠 영역 ****/
/* **** 공통layout_05 :: 푸터 영역 ****/

/* --------------------- 시작 --------------------- */

/* ************** 공통layout_01 :: 전체 영역 ************** */
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ************** 공통layout_02 :: 헤더 영역  ************** */
#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: var(--color-white);
}

#header .inner {
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
}

#header .inner .logo {
  font-size: var(--krds-fz-title-xlg);
  color: #555555;
}

#header .inner .logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* #header .inner .logo a::before {
  content: "";
  width: 4rem;
  height: 4rem;
  margin-right: var(--krds-spacer-3);
  background: url(../images/logo/logo-pc.svg) no-repeat center;
  background-size: contain;
} */
#header .inner .gnb {
  margin-left: auto;
}

#header .inner .gnb ul {
  display: flex;
  padding: 1.6rem 0;
}

#header .inner .gnb ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 var(--krds-spacer-2);
}

#header .inner .gnb ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: var(--krds-spacer-4) var(--krds-spacer-3);
  font-size: var(--krds-fz-body-lg);
  color: var(--krds-gray-90);
  font-weight: 700;
  line-height: 1;
}

#header .inner .gnb ul li a:hover {
  border-radius: 3px;
  background-color: #efefef;
  transition: all 0.3s;
}

/* 사이드메뉴_PC/Mobile_상태_로고변경 */
[data-device="pc"] .top-bar .logo-mb,
[data-device="mobile"] .top-bar .logo-pc {
  display: none;
}

[data-device="pc"] .top-bar .logo-pc,
[data-device="mobile"] .top-bar .logo-mb {
  display: block;
}

/* ************** 공통layout_03 :: 컨테이너 영역 ************** */
#container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#container .inner {
  max-width: 128rem;
  margin: 0 auto;
}

[data-page="main"] #container {
  padding: 0 0 10rem 0;
}

/* ************** 공통layout_04 :: 왼쪽메뉴 영역 ************** */

[data-page="main"] #sideMenu {
  display: none;
}
#sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: rgba(29, 34, 139, 0.9);
  z-index: 999;
}
/* logo */
.side-menu-logo {
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.side-menu-logo .logo-mb {
  display: none;
}
/* [data-device="pc"] .side-menu-logo .logo-pc,
[data-device="mobile"] .side-menu-logo .logo-mb {
    display: none;
}
[data-device="pc"] .side-menu-logo .logo-lg,
[data-device="mobile"] .side-menu-logo .logo-mb {
    display: block;
} */

/* dropdown-menu */
.dropdown-wrap {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
}

/* 공통 */
.dropdown-ul li a {
  color: rgba(255, 255, 255, 0.568);
}

.dropdown-ul li a:hover {
  color: rgba(0, 0, 0, 1);
  transition: color 0.15s ease-in;
}
.accordion li .left-tit .icon img {
  filter: opacity(0.5);
}
.accordion li.open .left-tit .icon img {
  filter: opacity(1);
}

.dropdown-ul li a i {
  font-size: 10px;
  transition: transform 0.2s;
}

/* one-depth */
.accordion {
  width: 100%;
}

.accordion-header {
  position: relative;
  padding: 10px 24px;
  cursor: pointer;
}
.accordion-header .left-tit .icon {
  width: 20px;
  height: 20px;
}

.accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.accordion-item .accordion-content {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
}
.accordion-item.open .accordion-content {
  opacity: 1;
  visibility: visible;
  max-height: auto;
  /* transition: max-height 0.5s ease; */
  transition: 0.3s ease-in-out max-height;
}

/* two-depth */
.sub-accordion {
  margin-left: 31px;
}

.sub-accordion-item.open .sub-accordion-header i {
  transform: rotate(90deg);
}

.sub-accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.sub-accordion-header {
  position: relative;
  padding: 8px 24px;
  cursor: pointer;
}

.sub-accordion-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 1px;
  background: #fff;
}

.sub-accordion-content {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
}

.sub-accordion-item.open .sub-accordion-content {
  opacity: 1;
  visibility: visible;
  max-height: auto;
  transition: 0.3s ease-in-out max-height;
}
/* last-depth */
.last-accordion {
  margin-left: 24px;
}

.last-accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.last-accordion-header {
  position: relative;
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}

.last-accordion-header::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* ************** 공통layout_05 :: 콘텐츠 영역 ************** */
#contents {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.contents > * {
  width: 100%;
}

.contents {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6.4rem;
}

/* ************** 공통layout_05 :: 푸터 영역 ************** */

#footer {
  width: 100%;
  text-align: center;
  background-color: var(--krds-gray-5);
  border-top: 1px solid var(--krds-gray-40);
}

#footer .inner {
  padding: var(--krds-spacer-6);
  text-align: left;
}
#footer .inner .logo {
  font-size: var(--krds-fz-title-xlg);
  color: var(--krds-gray-90);
  font-weight: 700;
}
#footer .inner .main-footer-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  margin-top: var(--krds-spacer-4);
  padding-top: var(--krds-spacer-8);
  border-top: 1px solid var(--krds-gray-30);
}
#footer .inner .main-footer-wrap .info-cs {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-4);
}
#footer .inner .main-footer-wrap .info-cs li {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-spacer-2);
}
#footer .inner .main-footer-wrap .copyright {
  font-size: var(--krds-fz-body-sm);
  color: var(--krds-gray-70);
}
