@charset "UTF-8";
/* *******************************************************
* 파일이름 : sc_component.css
* 파일설명 : 공통 컴포넌트 체계화

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */
/* 리스트(검색 시 활용) */
/* **** 공통component_01 :: 스킵네비게이션 **** */
/* **** 공통component_02 :: 브레드크럼 **** */
/* **** 공통component_03 :: 콘텐츠 내 탐색 **** */
/* **** 공통component_04 :: 페이지네이션 **** */
/* **** 공통component_05 :: 달력 **** */
/* **** 공통component_06 :: 디스클로저 **** */
/* **** 공통component_07 :: 모달 **** */
/* **** 공통component_08 :: 배지 **** */
/* **** 공통component_09 :: 아코디언 **** */
/* **** 공통component_10 :: 캐러셀 **** */
/* **** 공통component_11 :: 탭 **** */
/* **** 공통component_12 :: 표 **** */
/* **** 공통component_13 :: 링크 **** */
/* **** 공통component_14 :: 버튼 **** */
/* **** 공통component_15 :: 라디오버튼(Input) **** */
/* **** 공통component_16 :: 체크박스(Input) **** */
/* **** 공통component_17 :: 셀렉트박스 **** */
/* **** 공통component_18 :: 태그 **** */
/* **** 공통component_19 :: 단계표시기 **** */
/* **** 공통component_20 :: 스피너(로딩) **** */
/* **** 공통component_21 :: 툴팁 **** */
/* **** 공통component_22 :: 코치마크 **** */
/* **** 공통component_23 :: 날짜입력피드(Input) **** */
/* **** 공통component_24 :: 텍스트입력필드(Input) **** */
/* **** 공통component_25 :: 텍스트영역(Textarea) **** */
/* **** 공통component_26 :: 파일업로드 **** */
/* **** 공통component_27 :: 개인식별정보입력 **** */
/* **** 공통component_28 :: 검색 **** */
/* **** 공통component_29 :: 오류 **** */
/* **** 공통component_30 :: 로그인폼 **** */
/* **** 공통component_31 :: 필터링 정렬폼 **** */
/* --------------------- 시작 --------------------- */
/* ************** 공통component_01 :: 스킵네비게이션 ************** */
#skipNav {
  position: relative;
}

#skipNav a {
  position: absolute;
  left: 0px;
  top: -50px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

#skipNav a:active,
#skipNav a:focus {
  top: 0;
}

/* ************** 공통component_02 :: 브레드크럼 ************** */
.breadcrumb-wrap {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-top: var(--krds-spacer-6);
}

.breadcrumb-wrap .breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-spacer-1);
  width: 100%;
  max-width: 130rem;
  padding-left: var(--krds-spacer-1);
  padding-right: var(--krds-spacer-1);
}

.breadcrumb-wrap .breadcrumb .home {
  gap: 0;
}

.breadcrumb-wrap .breadcrumb li {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 1.5rem;
}

.breadcrumb-wrap .breadcrumb li .txt {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  line-height: 1.2;
  border-bottom: 0.1rem solid var(--krds-gray-50);
}

.breadcrumb-wrap .breadcrumb .home::before {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(https://uiux.egovframe.go.kr/resources/img/pattern/common/ico_bread_home.svg) no-repeat;
  background-size: contain;
}

.breadcrumb-wrap .breadcrumb li:not(:last-child)::after {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  margin-left: var(--krds-spacer-1);
  background: url(https://uiux.egovframe.go.kr/resources/img/pattern/common/ico_bread_arr.svg) no-repeat;
  background-size: contain;
}

/* ************** 공통component_03 :: 콘텐츠 내 탐색 ************** */
.quick-nav-area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-10);
  position: sticky;
  top: 24.4rem;
  width: 29.6rem;
  transition: 0.4s ease-in-out;
}

.quick-nav-area {
  top: 6rem;
}

.quick-nav-area > * {
  width: 100%;
}

.guide-txt {
  font-size: var(--krds-fz-body-md);
  padding: var(--krds-spacer-4) var(--krds-spacer-6);
  border-radius: 0.8rem;
  background-color: var(--krds-secondary-5);
}

.quick-title-wrap .guide-txt {
  padding: 0 0 var(--krds-spacer-4) 0;
  background-color: transparent;
  border-radius: 0;
  font-size: var(--krds-fz-title-xsm);
}

.sec-tit {
  font-size: var(--krds-fz-title-xlg);
  font-weight: 700;
}

.quick-nav-area > * {
  width: 100%;
}

.quick-list li > a {
  display: block;
  position: relative;
  padding: 0.7rem 0 0.7rem 2.6rem;
  transition: 0.4s ease-in-out;
}

.quick-list li > a.active {
  background-color: var(--krds-secondary-5);
  color: var(--krds-secondary);
  font-weight: 700;
}

.quick-list li > a.active::before {
  width: 0.4rem;
  background-color: var(--krds-secondary);
}

.quick-list li > a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: var(--krds-secondary-10);
  transition: 0.4s ease-in-out;
}

.quick-nav-area .btn-wrap .btn {
  width: 100%;
}

.btn-wrap .guide-txt {
  padding: var(--krds-spacer-4) 0 0 0;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
}

.btn.primary {
  background-color: var(--krds-primary);
  border: 1px solid var(--krds-primary);
  color: var(--krds-white);
}

/* ************** 공통component_04 :: 페이지네이션 ************** */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--krds-spacer-2);
  width: 100%;
  margin-top: var(--krds-spacer-10);
}

.pagination .page-navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--krds-gray-70);
  min-width: 6.2rem;
  height: 4rem;
}

.pagination .page-navi.prev {
  order: 1;
  padding: 0 var(--krds-spacer-2) 0 var(--krds-spacer-1);
}

.pagination .page-navi.prev::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination .page-navi.next::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination .page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  order: 2;
  gap: var(--krds-spacer-2);
}

.pagination .page-links .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--krds-gray-70);
  min-width: 4rem;
  height: 4rem;
}

.pagination .page-links .page-link:hover {
  border-radius: 0.6rem;
  background-color: var(--krds-secondary-5);
  transition: 0.4s ease-in-out;
}

.pagination .page-links .page-link:active {
  font-weight: 700;
  color: var(--krds-white);
  border-radius: 6px;
  background-color: var(--krds-secondary);
}

.pagination .page-links .page-link:hover {
  border-radius: 0.6rem;
  background-color: var(--krds-secondary-5);
  transition: 0.4s ease-in-out;
}

.pagination .page-links .page-link.link-dot {
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination .page-navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 6.2rem;
  height: 4rem;
}

.m-page {
  flex-direction: column;
}

.pagination .page-navis {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 6.2rem;
  height: 4rem;
}

/* =========== paging : svg============= */
.page_box {
  position: relative;
  width: 100%;
  margin-top: 3rem;
}

.page_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page_nation {
  display: inline-block;
}

.page_nation a {
  display: inline-block;
  margin: 0 3px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #9eaaca;
  text-decoration: none;
  border-radius: 5px;
}

.page_nation a.on {
  color: #fff;
  font-weight: 700;
  background: #396aff;
}

/* ************** 공통component_05 :: 달력 ************** */
#source-calendar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* border 제거 */
.fc-theme-standard .fc-scrollgrid {
  border: 0 !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 0 !important;
}

/* --- table header ---*/
.fc-col-header-cell {
  background: var(--color-white);
}

.fc-scrollgrid th {
  background: transparent;
}

/* 위치조정 */
.fc-col-header-cell .fc-scrollgrid-sync-inner {
  line-height: 30px;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
}

/* 글씨색 변경 */
.fc-scrollgrid-sync-inner a {
  color: var(--color-text-50);
}

/* 버튼 효과 변경 */
.fc-button {
  box-shadow: none !important;
}

.fc .fc-button-primary {
  color: var(--color-primary);
  border-color: transparent;
  background: transparent;
}

.fc .fc-button-primary:hover {
  color: var(--color-primary);
  border-color: transparent;
  background: var(--color-white);
}

.fc .fc-button-primary:disabled {
  color: var(--color-primary);
  border-color: transparent;
  background: var(--color-white);
}

.fc .fc-button-primary:focus {
  color: var(--color-primary);
  border-color: transparent;
  background: var(--color-white);
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: var(--color-primary);
  border-color: transparent;
  background: var(--color-white);
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  color: var(--color-primary);
  border-color: transparent;
  background: var(--color-white);
}

/* 날짜 */
.fc .fc-toolbar-title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-200);
}

/* 버튼 위치 수정 */
.fc-toolbar-ltr {
  position: relative;
}

.fc-toolbar-chunk {
  position: absolute;
}

.fc-toolbar-chunk:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
}

.fc-toolbar-chunk:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}

.fc .fc-button-group {
  position: absolute;
  display: inline-flex;
  vertical-align: middle;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  justify-content: space-between;
}

.fc .fc-button-group > .fc-button {
  position: relative;
  flex: auto;
}

.fc-today-button {
  position: absolute;
  right: 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
  height: 35px;
}

/* 스크롤 없애기 */
.fc-scrollgrid thead .fc-scroller {
  overflow: hidden !important;
}

/* ************** 공통component_06 :: 디스클로저 ************** */
.conts-expand-area .btn-conts-expand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  border-radius: 0;
}

.conts-expand-area .expand-wrap {
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.krds-disclosure .expand-wrap {
  max-height: 0;
}

.conts-expand-area.active .expand-wrap {
  max-height: 1000vh !important;
  transition: max-height 1.5s ease-in-out;
}

.krds-disclosure .btn-conts-expand::before {
  display: inline-flex;
  content: "";
  width: 2rem;
  height: 2rem;
  margin-right: var(--krds-spacer-1);
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_arr_func_20.svg);
  background-size: contain;
  transition: 0.4s ease-in-out;
  transform: rotate(0);
  background-repeat: no-repeat;
  background-position: center;
}

.krds-disclosure.active .btn-conts-expand::before {
  transform: rotate(-90deg);
}

.conts-expand-area .expand-wrap {
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.krds-disclosure .expand-wrap .expand-in {
  padding: var(--krds-spacer-6);
}

.list-bullet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-6);
}

.list-bullet > li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-spacer-1);
  color: var(--krds-gray-70);
}

.list-bullet > li::before {
  content: "•";
}

/* ************** 공통component_07 :: 모달 ************** */
.modal-back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-back.in {
  display: block;
  z-index: 1000;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: visibility 0.15s 0.3s, z-index 0s 0.3s, opacity 0.2s;
}

.modal.in {
  z-index: 1010;
  transition-delay: 0s;
  opacity: 1;
}

.modal.shown {
  display: block;
}

.modal-back,
.modal {
  display: none;
  visibility: hidden;
  z-index: -1;
}

.modal-back,
.modal.in {
  visibility: visible;
}

.modal-back.in,
.modal.in {
  visibility: visible;
}

.modal.in {
  z-index: 1010;
  transition-delay: 0s;
  opacity: 1;
}

.modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  z-index: 1020;
  width: 84.6rem;
  height: calc(100% - var(--krds-spacer-20) * 2);
  min-height: calc(100% - var(--krds-spacer-20) * 2);
  margin: var(--krds-spacer-20) auto;
}

.modal .modal-dialog .modal-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  background-color: var(--krds-white);
  border-radius: var(--krds-rd-12);
  outline-color: transparent;
  transition: outline-color 0.1s;
}

.modal .modal-dialog .modal-header {
  width: 100%;
  padding: var(--krds-spacer-10) 6.8rem var(--krds-spacer-8) var(--krds-spacer-10);
  background-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.modal .modal-dialog .modal-conts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-spacer-8);
  position: relative;
  overflow-y: auto;
  width: 100%;
  padding: 0 var(--krds-spacer-10);
  color: var(--krds-gray-90);
}

.modal .modal-dialog .modal-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  padding: var(--krds-spacer-8) var(--krds-spacer-10) var(--krds-spacer-10);
}

.modal .modal-dialog .btn-close {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  z-index: 901;
  width: 3.6rem;
  height: 3.6rem;
  background: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_close_modal.svg) no-repeat center;
  background-size: 2rem;
}

.modal .modal-dialog .modal-btn .btn {
  min-width: 9.2rem;
}

.btn.md {
  height: 4.8rem;
  padding: 0 var(--krds-btn-px-md);
  border-radius: var(--krds-btn-rd-md);
  font-size: var(--krds-btn-fz-md);
}

.btn.primary {
  background-color: var(--krds-primary);
  border: 1px solid var(--krds-primary);
  color: var(--krds-white);
}

.btn.tertiary {
  background-color: var(--krds-white);
  border: 1px solid var(--krds-gray-90);
  color: var(--krds-secondary-90);
}

/* ************** 공통component_08 :: 배지 ************** */
/* ************** 공통component_09 :: 아코디언 ************** */
/* ************** 공통component_10 :: 캐러셀 ************** */
/* ************** 공통component_11 :: 탭 ************** */
/* ************** 공통component_12 :: 표 ************** */
table {
  width: 100%;
  border-left: 1px solid var(--color-border);
  border: 1px solid var(--color-border);
  text-align: center;
  word-break: keep-all;
}

table th {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-table-header);
  vertical-align: middle;
  font-weight: 600;
  height: 30px;
  font-size: 1.6rem;
}

table th:last-child,
table tr td:last-child {
  border-right: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table td {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  vertical-align: middle;
  word-break: keep-all;
  padding: 12px;
  font-size: 1.4rem;
}

/* ************** 공통component_13 :: 링크 ************** */
/* ************** 공통component_14 :: 버튼 ************** */
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* ************** 공통 :: 라디오버튼 & 체크박스 ************** */
/* 공통 */
.chk-area {
  display: flex;
  gap: var(--krds-spacer-6);
}

input[type=radio],
input[type=checkbox] {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.form-check input[type=radio] ~ label,
.form-check input[type=checkbox] ~ label {
  position: relative;
  display: inline-flex;
  min-height: var(--krds-rdo-size-md);
  padding-left: calc(var(--krds-rdo-size-md) + var(--krds-spacer-2));
  font-size: var(--krds-rdo-fz-md);
  line-height: var(--krds-rdo-size-md);
}

.form-check input[type=radio] ~ label:before,
.form-check input[type=radio] ~ label:after,
.form-check input[type=checkbox] ~ label:before,
.form-check input[type=checkbox] ~ label:after {
  content: "";
  display: block;
  transition: 0.4s cubic-bezier(0.4, 0, 0.23, 1);
  box-sizing: border-box;
}

/* ************** 공통component_15 :: 라디오버튼(Input) ************** */
/* 큰 circle */
.form-check input[type=radio] ~ label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--krds-rdo-size-md);
  height: var(--krds-rdo-size-md);
  background-color: var(--krds-white);
  border: 1px solid var(--krds-gray-60);
  border-radius: var(--krds-rd-full);
}

/* 작은 circle */
.form-check input[type=radio] ~ label:after {
  position: absolute;
  top: calc((var(--krds-rdo-size-md) - var(--krds-rdo-chk-md)) / 2);
  left: calc((var(--krds-rdo-size-md) - var(--krds-rdo-chk-md)) / 2);
  width: var(--krds-rdo-chk-md);
  height: var(--krds-rdo-chk-md);
  background-color: var(--krds-white);
  border-radius: var(--krds-rd-full);
}

/* circle z-index 작업 */
.form-check input[type=radio] ~ label:before,
.form-check input[type=checkbox] ~ label:before {
  z-index: 3;
}

.form-check input[type=radio] ~ label:after,
.form-check input[type=checkbox] ~ label:after {
  z-index: 4;
}

/* 선택된 라디오버튼 */
.form-check input[type=radio]:checked ~ label:after {
  background-color: var(--krds-primary);
}

.form-check input[type=radio]:checked ~ label:before {
  border-color: var(--krds-primary);
}

/* 비활성화 라디오버튼 */
.form-check input[type=radio]:disabled + label,
.form-check input[type=checkbox]:disabled + label {
  color: var(--krds-gray-50);
  cursor: default;
}

.form-check input[type=radio]:disabled ~ label:before {
  border-color: var(--krds-gray-40);
  background-color: var(--krds-gray-20);
}

.form-check input[type=radio]:disabled ~ label:after {
  display: none;
  background-color: var(--krds-gray-40);
}

/* 선택된 비활성화 라디오버튼 */
.form-check input[type=radio]:checked:disabled ~ label:after {
  display: block;
  background-color: var(--krds-gray-40);
}

/* ************** 공통component_16 :: 체크박스(Input) ************** */
/* === 체크박스 === */
.form-check input[type=checkbox] ~ label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--krds-chk-size-md);
  height: var(--krds-chk-size-md);
  background-color: var(--krds-white);
  border: 1px solid var(--krds-gray-60);
  border-radius: var(--krds-rd-4);
}

.form-check input[type=checkbox] ~ label:after {
  position: absolute;
  top: calc((var(--krds-chk-size-md) - var(--krds-chk-primary-chk-md)) / 2);
  left: calc((var(--krds-chk-size-md) - var(--krds-chk-primary-chk-md)) / 2);
  width: var(--krds-chk-primary-chk-md);
  height: var(--krds-chk-primary-chk-md);
  background: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_check_primary_checked.svg) no-repeat 0 0;
  background-size: contain;
  opacity: 0;
}

.form-check input[type=checkbox]:checked ~ label:before {
  background-color: var(--krds-primary);
  border-color: var(--krds-primary);
}

.form-check input[type=checkbox]:checked ~ label:after {
  opacity: 1;
  transition-delay: 0.2s;
}

.form-check input[type=checkbox]:disabled ~ label:before {
  border-color: var(--krds-gray-40);
  background-color: var(--krds-gray-20);
}

.form-check input[type=checkbox]:disabled ~ label:after {
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_check_primary_checked.svg);
}

.form-check input[type=checkbox]:disabled ~ label:after {
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_check_primary_disabled.svg);
}

/* 크기별 */
.form-check.sm > [type=checkbox] ~ label {
  font-size: var(--krds-chk-fz-sm);
  line-height: var(--krds-chk-size-sm);
  min-height: var(--krds-chk-size-sm);
  padding-left: calc(var(--krds-chk-size-sm) + var(--krds-spacer-2));
}

.form-check.sm > [type=checkbox] ~ label::before {
  width: var(--krds-chk-size-sm);
  height: var(--krds-chk-size-sm);
}

.form-check.sm > [type=checkbox] ~ label::after {
  width: var(--krds-chk-primary-chk-sm);
  height: var(--krds-chk-primary-chk-sm);
}

.form-check.lg > [type=checkbox] ~ label {
  font-size: var(--krds-chk-fz-lg);
  line-height: var(--krds-chk-size-lg);
  min-height: var(--krds-chk-size-lg);
  padding-left: calc(var(--krds-chk-size-lg) + var(--krds-spacer-2));
}

.form-check.lg > [type=checkbox] ~ label::before {
  width: var(--krds-chk-size-lg);
  height: var(--krds-chk-size-lg);
}

.form-check.lg > [type=checkbox] ~ label::after {
  width: var(--krds-chk-primary-chk-lg);
  height: var(--krds-chk-primary-chk-lg);
}

/* ************** 공통component_17 :: 셀렉트박스 ************** */
select {
  background-image: url(../../images/icon/down.png);
  background-position: calc(100% - 5px);
  background-repeat: no-repeat;
  appearance: none;
}

/* ************** 공통 :: input / 셀렉트박스 / 텍스트영역  ************** */
input,
select {
  height: 32px;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 1.4rem;
  color: #333333;
  box-sizing: border-box;
}

/* ************** 공통component_18 :: 태그 ************** */
/* ************** 공통component_19 :: 단계표시기 ************** */
/* ************** 공통component_20 :: 스피너(로딩) ************** */
/* ************** 공통component_21 :: 툴팁 ************** */
/* ************** 공통component_22 :: 코치마크 ************** */
/* ************** 공통component_23 :: 날짜입력피드(Input) ************** */
/* ************** 공통component_24 :: 텍스트입력필드(Input) ************** */
/* ************** 공통component_25 :: 텍스트영역(Textarea) ************** */
/* ************** 공통component_26 :: 파일업로드 ************** */
/* ************** 공통component_27 :: 개인식별정보입력 ************** */
/* ************** 공통component_28 :: 검색 ************** */
/* ************** 공통component_29 :: 오류 ************** */
/* ************** 공통component_30 :: 로그인폼 ************** */
/* ************** 공통component_31 :: 필터링 정렬폼 ************** */
