@charset "utf-8";
/* *******************************************************
 * 파일이름 : design.css
 * 설명 : root / common
 * 최종업데이트 : 2024-05-09
******************************************************** */

/* *******************
 * 설명 : root
 * date : 2024-05-09
******************* */

:root {
  /* ******************  디자인 :: Color ********************** */

  /* Theme */
  --color-white: #fff;
  --color-black: #000;
  --color-outline: #eeeeee;
  --color-background: #f4f6fa;
  --color-table-header: #f3f6f9;
  --color-primary: #283eb2;
  --color-secondary: #36c6af;
  --color-success: #0ab362;
  --color-info: #299cdb;
  --color-error: #f04848;
  --color-warning: #f7b84b;

  /* gray */
  --color-gray-50: #f2f2f5;
  --color-gray-100: #d5d7df;
  --color-gray-200: #c1c4cf;
  --color-gray-300: #a5a9b9;
  --color-gray-400: #9398ac;
  --color-gray-500: #787e97;
  --color-gray-600: #6d7389;
  --color-gray-700: #55596b;
  --color-gray-800: #424553;
  --color-gray-900: #32353f;

  /* text-Color */
  --color-text-100: #222222;
  --color-text-80: #222222;
  --color-text-50: #222222;
  --color-text-30: #222222;

  /* point-color */

  --color-purple: #b49de5;
  --color-green: #81d25f;
  --color-orange: #ff9d4b;
  --color-blue: #529cee;
  --color-teal: #14b9bf;
  --color-yellow: #fac818;
  --color-pink: #ff7784;

  /* ******************  디자인 :: Shape ********************** */
  /* font-size */
  --font-size: 1.4rem;
  --font-size-10: 1rem;
  --font-size-12: 1.2rem;
  --font-size-16: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;

  /* font-weight */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-bold: 700;

  /*line-height */
  --line-height: 1.5;
  --line-height-sm: 1.2;
  --line-height-lg: 1.4;
  --line-height-xl: 1.6;
  --line-height-xxl: 2;

  /*table */
  --table-header: #f3f6f9;
  --table-row-ht: 30px;
  --table-padding: 0 12px;

  /* border-radius */
  --border-radius: 0.25rem;
  --border-radius-sm: 0.2rem;
  --border-radius-lg: 0.3rem;
  --border-radius-xl: 1rem;
  --border-radius-xxl: 2rem;

  /*box-shadow */
  --box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);

  --krds-white: #fff;
  --krds-black: #000;
  --krds-primary: #246beb;
  --krds-secondary: #003675;
  --krds-point: #e71825;
  --krds-danger: #eb003b;
  --krds-warning: #ffb724;
  --krds-success: #008a1e;
  --krds-information: #2768ff;
  --krds-primary-5: #eff5ff;
  --krds-primary-10: #d3e1fb;
  --krds-primary-20: #a7c4f7;
  --krds-primary-30: #7ca6f3;
  --krds-primary-40: #5089ef;
  --krds-primary-60: #1d56bc;
  --krds-primary-70: #16408d;
  --krds-primary-80: #0e2b5e;
  --krds-primary-90: #07152f;
  --krds-secondary-5: #edf1f5;
  --krds-secondary-10: #cdd7e4;
  --krds-secondary-20: #b4c4d6;
  --krds-secondary-30: #99b0cb;
  --krds-secondary-40: #2a5c96;
  --krds-secondary-60: #002b5e;
  --krds-secondary-70: #002046;
  --krds-secondary-80: #00162f;
  --krds-secondary-90: #000b17;
  --krds-point-5: #fdf2f3;
  --krds-point-10: #fad1d3;
  --krds-point-20: #f5a3a8;
  --krds-point-30: #f1747c;
  --krds-point-40: #ec4651;
  --krds-point-60: #b9131e;
  --krds-point-70: #8b0e16;
  --krds-point-80: #5c0a0f;
  --krds-point-90: #2e0507;
  --krds-gray-5: #f8f8f8;
  --krds-gray-10: #f0f0f0;
  --krds-gray-20: #e4e4e4;
  --krds-gray-30: #d8d8d8;
  --krds-gray-40: #c6c6c6;
  --krds-gray-50: #8e8e8e;
  --krds-gray-60: #717171;
  --krds-gray-70: #555555;
  --krds-gray-80: #2d2d2d;
  --krds-gray-90: #1d1d1d;
  --krds-fz-display-sm: 4rem;
  --krds-fz-display-md: 5rem;
  --krds-fz-display-lg: 6.6rem;
  --krds-fz-heading-sm: 3.2rem;
  --krds-fz-heading-md: 4rem;
  --krds-fz-heading-lg: 5rem;
  --krds-fz-title-xsm: 1.5rem;
  --krds-fz-title-sm: 1.7rem;
  --krds-fz-title-md: 1.9rem;
  --krds-fz-title-lg: 2.1rem;
  --krds-fz-title-xlg: 2.5rem;
  --krds-fz-title-xxlg: 3.2rem;
  --krds-fz-body-sm: 1.5rem;
  --krds-fz-body-md: 1.7rem;
  --krds-fz-body-lg: 1.9rem;
  --krds-fz-link-sm: 1.5rem;
  --krds-fz-link-md: 1.7rem;
  --krds-fz-link-lg: 1.9rem;
  --krds-fz-detail-sm: 1.3rem;
  --krds-fz-detail-md: 1.5rem;
  --krds-fz-detail-lg: 1.7rem;
  --krds-fz-label-xsm: 1.3rem;
  --krds-fz-label-sm: 1.5rem;
  --krds-fz-label-md: 1.7rem;
  --krds-fz-label-lg: 1.9rem;
  --krds-rd-1: 0.1rem;
  --krds-rd-2: 0.2rem;
  --krds-rd-4: 0.4rem;
  --krds-rd-6: 0.6rem;
  --krds-rd-8: 0.8rem;
  --krds-rd-10: 1rem;
  --krds-rd-12: 1.2rem;
  --krds-rd-full: 100%;
  --krds-btn-h-xsm: 3.2rem;
  --krds-btn-h-sm: 4rem;
  --krds-btn-h-md: 4.8rem;
  --krds-btn-h-lg: 5.6rem;
  --krds-btn-h-xlg: 6.4rem;
  --krds-btn-px-xsm: 1rem;
  --krds-btn-px-sm: 1.2rem;
  --krds-btn-px-md: 1.6rem;
  --krds-btn-px-lg: 2rem;
  --krds-btn-px-xlg: 2.4rem;
  --krds-btn-rd-xsm: 0.6rem;
  --krds-btn-rd-sm: 0.6rem;
  --krds-btn-rd-md: 0.8rem;
  --krds-btn-rd-lg: 0.8rem;
  --krds-btn-rd-xlg: 0.8rem;
  --krds-btn-fz-xsm: 1.5rem;
  --krds-btn-fz-sm: 1.7rem;
  --krds-btn-fz-md: 1.7rem;
  --krds-btn-fz-lg: 1.9rem;
  --krds-btn-fz-xlg: 1.9rem;
  --krds-btnChipFill-h-md: 3.2rem;
  --krds-btnChipFill-h-lg: 3.6rem;
  --krds-btnChipFill-pd-md: 0rem 1.2rem;
  --krds-btnChipFill-pd-lg: 0rem 1.2rem;
  --krds-btnChipFill-rd-md: 0.6rem;
  --krds-btnChipFill-rd-lg: 0.6rem;
  --krds-btnChipFill-fz-md: 1.5rem;
  --krds-btnChipFill-fz-lg: 1.7rem;
  --krds-btnChipOutline-h-md: 3.2rem;
  --krds-btnChipOutline-h-lg: 3.6rem;
  --krds-btnChipOutline-pd-md: 0rem 1.2rem;
  --krds-btnChipOutline-pd-lg: 0rem 1.2rem;
  --krds-btnChipOutline-rd-md: 10rem;
  --krds-btnChipOutline-rd-lg: 10rem;
  --krds-btnChipOutline-fz-md: 1.5rem;
  --krds-btnChipOutline-fz-lg: 1.7rem;
  --krds-btnChipOutline-gap-md: 0.2rem;
  --krds-btnChipOutline-gap-lg: 0.2rem;
  --krds-btnChipOutline-size-md: 1.2rem;
  --krds-btnChipOutline-size-lg: 1.6rem;
  --krds-input-h-sm: 4rem;
  --krds-input-h-md: 4.8rem;
  --krds-input-h-lg: 5.6rem;
  --krds-input-h-xlg: 8rem;
  --krds-input-px-sm: 1.6rem;
  --krds-input-px-md: 1.6rem;
  --krds-input-px-lg: 1.6rem;
  --krds-input-px-xlg: 2.4rem;
  --krds-input-rd-sm: 0.6rem;
  --krds-input-rd-md: 0.8rem;
  --krds-input-rd-lg: 0.8rem;
  --krds-input-rd-xlg: 1.2rem;
  --krds-input-fz-sm: 1.5rem;
  --krds-input-fz-md: 1.7rem;
  --krds-input-fz-lg: 1.9rem;
  --krds-input-fz-xlg: 2.5rem;
  --krds-rdo-size-sm: 1.6rem;
  --krds-rdo-size-md: 2rem;
  --krds-rdo-size-lg: 2.4rem;
  --krds-rdo-chk-sm: 0.8rem;
  --krds-rdo-chk-md: 1rem;
  --krds-rdo-chk-lg: 1.4rem;
  --krds-rdo-pos-sm: 0.2rem;
  --krds-rdo-pos-md: 0.5rem;
  --krds-rdo-pos-lg: 1rem;
  --krds-rdo-fz-sm: 1.5rem;
  --krds-rdo-fz-md: 1.7rem;
  --krds-rdo-fz-lg: 1.9rem;
  --krds-chk-size-sm: 1.6rem;
  --krds-chk-size-md: 2rem;
  --krds-chk-size-lg: 2.4rem;
  --krds-chk-primary-chk-sm: 1.2rem;
  --krds-chk-primary-chk-md: 1.6rem;
  --krds-chk-primary-chk-lg: 2rem;
  --krds-chk-secondary-chk-md: 2rem;
  --krds-chk-pos-md: 0.5rem;
  --krds-chk-fz-sm: 1.5rem;
  --krds-chk-fz-md: 1.7rem;
  --krds-chk-fz-lg: 1.9rem;
  --krds-select-h-sm: 4rem;
  --krds-select-h-md: 4.8rem;
  --krds-select-h-lg: 5.6rem;
  --krds-select-pd-sm: 0 5.2rem 0 1.6rem;
  --krds-select-pd-md: 0 5.2rem 0 1.6rem;
  --krds-select-pd-lg: 0 5.2rem 0 1.6rem;
  --krds-select-rd-sm: 0.6rem;
  --krds-select-rd-md: 0.8rem;
  --krds-select-rd-lg: 0.8rem;
  --krds-select-fz-sm: 1.5rem;
  --krds-select-fz-md: 1.7rem;
  --krds-select-fz-lg: 1.9rem;
  --krds-select-rn-sm: 1.6rem;
  --krds-select-rn-md: 1.6rem;
  --krds-select-rn-lg: 1.6rem;
  --krds-select-bgs-sm: 2rem;
  --krds-select-bgs-md: 2rem;
  --krds-select-bgs-lg: 2.4rem;
  --krds-switch-h-md: 2rem;
  --krds-switch-h-lg: 2.4rem;
  --krds-switch-w-md: 3.2rem;
  --krds-switch-w-lg: 4rem;
  --krds-switch-b-md: 1.6rem;
  --krds-switch-b-lg: 2rem;
  --krds-switch-br-md: 0.2rem;
  --krds-switch-br-lg: 0.2rem;
  --krds-switch-pd-md: 0.8rem;
  --krds-switch-pd-lg: 0.8rem;
  --krds-switch-rd-md: 4rem;
  --krds-switch-rd-lg: 4rem;
  --krds-switch-fz-md: 1.7rem;
  --krds-switch-fz-lg: 1.9rem;
  --krds-rdoChipOutline-h-sm: 3.2rem;
  --krds-rdoChipOutline-h-md: 4rem;
  --krds-rdoChipOutline-h-lg: 4.8rem;
  --krds-rdoChipOutline-pd-sm: 0 1rem;
  --krds-rdoChipOutline-pd-md: 0 1.2rem;
  --krds-rdoChipOutline-pd-lg: 0 1.6rem;
  --krds-rdoChipOutline-rd-sm: 0.6rem;
  --krds-rdoChipOutline-rd-md: 0.6rem;
  --krds-rdoChipOutline-rd-lg: 0.8rem;
  --krds-rdoChipOutline-fz-sm: 1.5rem;
  --krds-rdoChipOutline-fz-md: 1.7rem;
  --krds-rdoChipOutline-fz-lg: 1.7rem;
  --krds-chkChipOutline-h-sm: 3.2rem;
  --krds-chkChipOutline-h-md: 4rem;
  --krds-chkChipOutline-h-lg: 4.8rem;
  --krds-chkChipOutline-pd-sm: 0 1rem 0 0.8rem;
  --krds-chkChipOutline-pd-md: 0 1.2rem 0 1rem;
  --krds-chkChipOutline-pd-lg: 0 1.6rem 0 1.2rem;
  --krds-chkChipOutline-rd-sm: 0.6rem;
  --krds-chkChipOutline-rd-md: 0.6rem;
  --krds-chkChipOutline-rd-lg: 0.8rem;
  --krds-chkChipOutline-fz-sm: 1.5rem;
  --krds-chkChipOutline-fz-md: 1.7rem;
  --krds-chkChipOutline-fz-lg: 1.7rem;
  --krds-chkChipOutline-gap-sm: 0.4rem;
  --krds-chkChipOutline-gap-md: 0.4rem;
  --krds-chkChipOutline-gap-lg: 0.4rem;
  --krds-chkChipOutline-ico-sm: 1.6rem;
  --krds-chkChipOutline-ico-md: 2rem;
  --krds-chkChipOutline-ico-lg: 2rem;
  --krds-tab-h-full: 5.6rem;
  --krds-tab-h-fill: 4.8rem;
  --krds-tab-h-line: 4.8rem;
  --krds-tab-fz-full: 1.9rem;
  --krds-tab-fz-fill: 1.9rem;
  --krds-tab-fz-ilne: 1.9rem;
  --krds-tab-px-full: 0;
  --krds-tab-px-fill: 1.6rem;
  --krds-tab-px-line: 0.2rem;
  --krds-tab-ml-full: 0;
  --krds-tab-ml-fill: 0.8rem;
  --krds-tab-ml-line: 1.6rem;
  --krds-tab-rd-full: 0.8rem;
  --krds-tab-rd-fill: 0.8rem;
  --krds-tab-rd-line: 0;
  --krds-spacer-50: 20rem;
  --krds-spacer-49: 19.6rem;
  --krds-spacer-48: 19.2rem;
  --krds-spacer-47: 18.8rem;
  --krds-spacer-46: 18.4rem;
  --krds-spacer-45: 18rem;
  --krds-spacer-44: 17.6rem;
  --krds-spacer-43: 17.2rem;
  --krds-spacer-42: 16.8rem;
  --krds-spacer-41: 16.4rem;
  --krds-spacer-40: 16rem;
  --krds-spacer-39: 15.6rem;
  --krds-spacer-38: 15.2rem;
  --krds-spacer-37: 14.8rem;
  --krds-spacer-36: 14.4rem;
  --krds-spacer-35: 14rem;
  --krds-spacer-34: 13.6rem;
  --krds-spacer-33: 13.2rem;
  --krds-spacer-32: 12.8rem;
  --krds-spacer-31: 12.4rem;
  --krds-spacer-30: 12rem;
  --krds-spacer-29: 11.6rem;
  --krds-spacer-28: 11.2rem;
  --krds-spacer-27: 10.8rem;
  --krds-spacer-26: 10.4rem;
  --krds-spacer-25: 10rem;
  --krds-spacer-24: 9.6rem;
  --krds-spacer-23: 9.2rem;
  --krds-spacer-22: 8.8rem;
  --krds-spacer-21: 8.4rem;
  --krds-spacer-20: 8rem;
  --krds-spacer-19: 7.6rem;
  --krds-spacer-18: 7.2rem;
  --krds-spacer-17: 6.8rem;
  --krds-spacer-16: 6.4rem;
  --krds-spacer-15: 6rem;
  --krds-spacer-14: 5.6rem;
  --krds-spacer-13: 5.2rem;
  --krds-spacer-12: 4.8rem;
  --krds-spacer-11: 4.4rem;
  --krds-spacer-10: 4rem;
  --krds-spacer-9: 3.6rem;
  --krds-spacer-8: 3.2rem;
  --krds-spacer-7: 2.8rem;
  --krds-spacer-6: 2.4rem;
  --krds-spacer-5: 2rem;
  --krds-spacer-4: 1.6rem;
  --krds-spacer-3: 1.2rem;
  --krds-spacer-2: 0.8rem;
  --krds-spacer-1: 0.4rem;
  --krds-spacer-0: 0;
  --krds-spacer-default: 0.1rem;
  --krds-spacer-default2: 0.2rem;
  --krds-spacer-full: 100%;
}

/* *******************
 * 설명 : common 공통
 * date : 2024-05-09
******************* */

/* ****************** 공통 :: 애니메이션 동작 감소 ****************** */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}

/* ****************** 공통 :: ir기법 ********************** */

/*  이미지를 볼 수 없는 사용자에게 적절한 대체 텍스트 제공  */
/* css background-image 배경이 투명일경우 */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 중요한 이미지가 로딩이 되지 않거나 손실되어 off될 때 대체 텍스트 제공 */
/* ex)버튼이 css background-image이미지라서 로딩이 느려질경우 */
.ir-wa {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 스크린리더기 인식x  / for 접근성 준수*/
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* ****************** 공통 :: width / height ********************** */
.wd-100 {
  width: 100%;
}
.wd-50 {
  width: calc(100% / 2);
}
.wd-33 {
  width: calc(100% / 3);
}
.wd-25 {
  width: calc(100% / 4);
}
.ht-100 {
  height: 100%;
}
.ht-50 {
  height: calc(100% / 2);
}
.ht-33 {
  height: calc(100% / 3);
}
.ht-25 {
  height: calc(100% / 4);
}
.wdht-100 {
  width: 100%;
  height: 100%;
}
.wdht-50 {
  width: calc(100% / 2);
  height: calc(100% / 2);
}

/* ****************** 공통 :: position ********************** */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

/* ****************** 공통 :: padding ********************** */

/* padding */
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pd-25 {
  padding: 25px;
}
.pd-30 {
  padding: 30px;
}
/* padding-top */
.pdt-5 {
  padding-top: 5px;
}
.pdt-10 {
  padding-top: 10px;
}
.pdt-15 {
  padding-top: 15px;
}
.pdt-20 {
  padding-top: 20px;
}

/* padding-bottom */
.pdb-5 {
  padding-bottom: 5px;
}
.pdb-10 {
  padding-bottom: 10px;
}
.pdb-15 {
  padding-bottom: 15px;
}
.pdb-20 {
  padding-bottom: 20px;
}
.pdb-25 {
  padding-bottom: 25px;
}
.pdb-30 {
  padding-bottom: 30px;
}

/* padding-left */
.pdl-5 {
  padding-left: 5px;
}
.pdl-10 {
  padding-left: 10px;
}
.pdl-15 {
  padding-left: 15px;
}
.pdl-20 {
  padding-left: 20px;
}
.pdl-25 {
  padding-left: 25px;
}
.pdl-30 {
  padding-left: 30px;
}

/* padding-right */
.pdr-5 {
  padding-right: 5px;
}
.pdr-10 {
  padding-right: 10px;
}
.pdr-15 {
  padding-right: 15px;
}
.pdr-20 {
  padding-right: 20px;
}
.pdr-25 {
  padding-right: 25px;
}
.pdr-30 {
  padding-right: 30px;
}

/* padding-left + padding-right */
.pdx-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pdx-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pdx-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pdx-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pdx-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.pdx-30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* ****************** 공통 :: margin ********************** */

/* margin */
.mg-5 {
  margin: 5px;
}
.mg-10 {
  margin: 10px;
}
.mg-15 {
  margin: 15px;
}
.mg-20 {
  margin: 20px;
}
.mg-25 {
  margin: 30px;
}
.mg-30 {
  margin: 30px;
}

/* margin-top */
.mgt-5 {
  margin-top: 5px;
}
.mgt-10 {
  margin-top: 10px;
}
.mgt-15 {
  margin-top: 15px;
}
.mgt-20 {
  margin-top: 20px;
}
.mgt-25 {
  margin-top: 25px;
}
.mgt-30 {
  margin-top: 30px;
}
.mg-tp-20 {
  margin-top: 20px;
}

/* margin-bottom */
.mgb-5 {
  margin-bottom: 5px;
}
.mgb-10 {
  margin-bottom: 10px;
}
.mgb-15 {
  margin-bottom: 15px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.mgb-25 {
  margin-bottom: 25px;
}
.mgb-30 {
  margin-bottom: 30px;
}

/* margin-left */
.mgl-5 {
  margin-left: 5px;
}
.mgl-10 {
  margin-left: 10px;
}
.mgl-15 {
  margin-left: 15px;
}
.mgl-20 {
  margin-left: 20px;
}
.mgl-25 {
  margin-left: 25px;
}
.mgl-30 {
  margin-left: 30px;
}
/* margin-right */
.mgr-5 {
  margin-right: 5px;
}
.mgr-10 {
  margin-right: 10px;
}
.mgr-15 {
  margin-right: 15px;
}
.mgr-20 {
  margin-right: 20px;
}
.mgr-25 {
  margin-right: 25px;
}
.mgr-30 {
  margin-right: 30px;
}

/* margin-left + margin-right */

.mgx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mgx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mgx-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mgx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mgx-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mgx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* ****************** 공통 :: Table ********************** */

table {
  width: 100%;
  border-left: 1px solid var(--color-border);
  border: 1px solid var(--color-border);
  text-align: center;
  word-break: keep-all;
}
table th {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background: var(--color-table-header);
  vertical-align: middle;
  font-weight: 600;
  height: 30px;
  font-size: 1.6rem;
}
table th:last-child,
table tr td:last-child {
  border-right: 0;
}
table tr:last-child td {
  border-bottom: 0;
}

table td {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  vertical-align: middle;
  word-break: keep-all;
  padding: 12px;
  font-size: 1.4rem;
}

/* ****************** 공통 :: modal ********************** */
.mdal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.5;
  z-index: 1000;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: none;
}
.mdal-bg.on {
  display: block;
}
.mdal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  background: var(--color-background);
}

/* ****************** 공통 :: Image ********************** */
.img-box > img {
  display: block;
  width: 100%;
}
.img-wdht-100 {
  width: 100%;
  height: 100%;
}
.img-wd-100 {
  width: 100%;
}
.img-ht-100 {
  height: 100%;
}

/* ****************** 공통 :: Flex ********************** */
.fl-row {
  display: flex;
  flex-direction: row;
}
.fl-col {
  display: flex;
  flex-direction: column;
}

/* justify-content */

.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: end;
}

/* align-items */
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}

/* gap */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
.gap-30 {
  gap: 30px;
}

/* ****************** 공통 :: Clearfix ********************** */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

/* ****************** 공통 :: text ********************** */

/* text-align */
.txt-align-left {
  text-align: left;
}
.txt-align-center {
  text-align: center;
}
.txt-align-right {
  text-align: right;
}

.word-break-all {
  word-break: break-all;
}
.word-keep-all {
  word-break: keep-all;
}

/* ellipsis */
.one-ellip {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.two-ellip {
  display: block;
  max-width: 100%;
  height: 68px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ****************** 공통 :: button / input / select / textarea 디자인 ********************** */
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
input,
select {
  height: 32px;
}

select {
  background-image: url(../../images/icon/down.png);
  background-position: calc(100% - 5px);
  background-repeat: no-repeat;
  appearance: none;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 1.4rem;
  color: #333333;
  box-sizing: border-box;
}

/* ****************** 공통 :: scrollbar ********************** */
.scr-bar {
  overflow-y: auto;
}
/* 너비*/
.scr-bar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/* 막대 */
.scr-bar::-webkit-scrollbar-thumb {
  height: 30px;
  background: var(--color-primary);
  border-radius: 10px;
  /* background-clip: padding-box; */
  border: 2px solid transparent;
}
/* 배경 */
.scr-bar::-webkit-scrollbar-track {
  background-color: #d5d7df;
}

/* ****************** 공통 :: Skip Navigation ********************** */
#skip {
  position: relative;
  z-index: 201;
}
#skip a {
  position: absolute;
  left: 0px;
  top: -150px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 160px;
  text-align: center;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* ****************** 공통 :: blind ********************** */
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
