@charset "utf-8";
/* *******************************************************
 * 파일이름 : font.css
 * 설명 : font
 * 최종업데이트 : 2024-01-04
******************************************************** */
@font-face {
  font-family: "Pretendard100";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("../../fonts/pretendard/woff2/Pretendard-Thin.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Thin.woff") format("woff");
}
@font-face {
  font-family: "Pretendard200";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("../../fonts/pretendard/woff2/Pretendard-ExtraLight.woff2")
      format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard300";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../../fonts/pretendard/woff2/Pretendard-Light.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard400";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../../fonts/pretendard/woff2/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard500";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../../fonts/pretendard/woff2/Pretendard-Medium.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard600";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../../fonts/pretendard/woff2/Pretendard-SemiBold.woff2")
      format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard700";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../../fonts/pretendard/woff2/Pretendard-Bold.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard800";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("../../fonts/pretendard/woff2/Pretendard-ExtraBold.woff2")
      format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard900";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("../../font/pretendard/woff2/Pretendard-Black.woff2") format("woff2"),
    url("../../fonts/pretendard/woff/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "SUIT100";
  font-weight: 100;
  font-display: swap;
  src: url("../../font/suit/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT200";
  font-weight: 200;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT300";
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT400";
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT500";
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT600";
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT700";
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT800";
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT900";
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/suit/SUIT-Heavy.woff2") format("woff2");
}
