@charset "utf-8";

/* *******************************************************
* 파일이름 : home.scss
* 파일설명 : 메인화면 커스텀

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */

/* 메인 배너 */
.visual-area {
  width: 100%;
  background-color: #edf1f5;
}
.visual-area .inner::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/index_visual.png) no-repeat 100% 100%;
  background-size: contain;
}

.visual-area .tit,
.visual-area .desc {
  position: relative;
  z-index: 2;
}

.visual-area .inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--#{$prefix}spacer-6);
  position: relative;
  padding: var(--#{$prefix}spacer-20) 0;
}
.visual-area .tit {
  font-size: var(--#{$prefix}fz-display-md);
  font-weight: 700;
}

/* ------------------------------------------ */

.search-area .area-tit {
  margin-bottom: var(--#{$prefix}spacer-6);
  font-size: var(--#{$prefix}fz-title-xlg);
}

.search-top-box .sch-form-wrap {
  margin-bottom: var(--#{$prefix}spacer-10);
}

.search-top-box .sch-input .form-control {
  width: 54.8rem;
}

/* ------------------------------------------ */


.search-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--#{$prefix}spacer-6);
}
.search-area .search-list.sty-guide {
  grid-template-columns: repeat(5, 1fr);
}
.search-area .search-list.compo-guide {
  grid-template-columns: repeat(4, 1fr);
}

.search-list .li {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--#{$prefix}spacer-6);
  padding: var(--#{$prefix}spacer-6);
  overflow-x: auto;
  box-sizing: border-box;
  border-radius: var(--#{$prefix}rd-12);
  border: 0.1rem solid var(--#{$prefix}gray-40);
}

.search-list .li {
  padding: 0;
}

.search-list .img-wrap {
  height: 20rem;
  background-color: #edf1f5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px;
  border-radius: inherit;
  text-align: center;
  border-bottom: 1px solid var(--#{$prefix}gray-40);
}

// 스타일가이드&컴포넌트 리스트 정렬

.sty-guide {
  @for $i from 1 through 5 {
    .img-wrap {
      $img: sty_guide_#{$i};
      &.#{$img} {
        background-image: url(../images/img_#{$img}.png);
      }
    }
  }
}

.compo-guide {
  @for $i from 1 through 34 {
    .img-wrap {
      $img: com_guide_#{$i};
      &.#{$img} {
        background-image: url(../images/img_#{$img}.png);
      }
    }
  }
}

.search-list .conts-wrap {
  position: relative;
  height: calc(100% - 20rem);
  gap: var(--#{$prefix}spacer-3);
  padding: var(--#{$prefix}spacer-6);
}
.conts-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--#{$prefix}spacer-18);
  width: 100%;
  color: var(--#{$prefix}gray-70);
}
.conts-wrap > * {
  width: 100%;
}
.krds-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: var(--#{$prefix}fz-label-sm);
  color: var(--#{$prefix}primary-60);
  height: 2.4rem;
  padding: 0 var(--#{$prefix}spacer-2);
  border-radius: 0.4rem;
  background-color: var(--#{$prefix}primary-5);
}

.search-area .search-list .conts-wrap .tit {
  margin-top: calc(var(--#{$prefix}spacer-2) * -1);
  font-size: var(--#{$prefix}fz-title-md);
}

.search-area .search-list .conts-wrap .tit .sub {
  font-size: var(--#{$prefix}fz-body-sm);
  color: #555555;
  font-weight: 500;
}

.search-area .search-list .conts-wrap .desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  height: 60%;
}

.move-link {
  gap: 1.5rem;
  align-self: flex-end;
}
.move-link a {
  text-decoration: underline;
  font-size: var(--#{$prefix}btn-fz-sm);
  font-weight: 700;
}
.move-link a:hover {
  color: var(--#{$prefix}primary);
  text-decoration: underline;
}

.sty-guide .move-link {
  gap: 1rem;
  align-self: flex-end;
}
.sty-guide .move-link a {
  text-decoration: underline;
  font-size: var(--#{$prefix}btn-fz-xsm);
  font-weight: 700;
}
