@charset "utf-8";

/* *******************************************************
* 파일이름 : container.scss
* 파일설명 : 공통 컨테이너/콘텐츠 영역

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ************** 공통Container_02 :: 컨테이너 영역 ************** */
#container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

#container .inner {
  max-width: 128rem;
  margin: 0 auto;
}

[data-page="main"] #container {
  padding: 0 0 10rem 0;
}

/* ************** 공통Container_03 :: 콘텐츠 영역 ************** */
#contents {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.contents > * {
  width: 100%;
}

.contents {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6.4rem;
}

// 반응형
@include pc {
}
@include desktop {
}
@include tablet {
}
@include mobile {
}
@include mobileLess {
}
