.btn-txt.ico-filter {
  position: relative;
}
.btn-txt {
  color: inherit;
  border: 0;
  background-color: inherit;
  padding: 0 var(--krds-spacer-default2) !important;
}
.btn-txt.ico-filter .num {
  display: inline-flex;
  position: absolute;
  right: 0.1rem;
  z-index: 1;
  height: 2rem;
  font-size: var(--krds-fz-label-sm);
  color: var(--krds-white);
  padding: 0 var(--krds-spacer-2);
  margin-top: -3rem;
  border-radius: 2rem;
  background-color: var(--krds-primary);
}

.btn-txt.ico-filter::before,
.btn-txt.ico-filter::after {
  background-image: url(#{$url}/ico/components/common/ico_select.svg);
}

.btn[class*="ico-"]::after {
  display: inline-flex;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-size: contain;
}
