.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: var(--krds-spacer-2);
  width: 100%;
  margin-top: var(--krds-spacer-10);
}

.pagination .page-navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--krds-gray-70);
  min-width: 6.2rem;
  height: 4rem;
}
.pagination .page-navi.prev {
  order: 1;
  padding: 0 var(--krds-spacer-2) 0 var(--krds-spacer-1);
}

.pagination .page-navi.prev::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination .page-navi.next::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_arr_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination .page-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  order: 2;
  gap: var(--krds-spacer-2);
}
.pagination .page-links .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--krds-gray-70);
  min-width: 4rem;
  height: 4rem;
}

.pagination .page-links .page-link:hover {
  border-radius: 0.6rem;
  background-color: var(--krds-secondary-5);
  transition: 0.4s ease-in-out;
}

.pagination .page-links .page-link:active {
  font-weight: 700;
  color: var(--krds-white);
  border-radius: 6px;
  background-color: var(--krds-secondary);
}

.pagination .page-links .page-link:hover {
  border-radius: 0.6rem;
  background-color: var(--krds-secondary-5);
  transition: 0.4s ease-in-out;
}
.pagination .page-links .page-link.link-dot {
  background-image: url(https://uiux.egovframe.go.kr/resources/img/component/common/ico_page_dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pagination .page-navi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 6.2rem;
  height: 4rem;
}

.m-page {
  flex-direction: column;
}

.pagination .page-navis {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #555555;
  min-width: 6.2rem;
  height: 4rem;
}
/* =========== paging : svg============= */

.page_box {
  position: relative;
  width: 100%;
  margin-top: 3rem;
}

.page_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_nation {
  display: inline-block;
}
.page_nation a {
  display: inline-block;
  margin: 0 3px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #9eaaca;
  text-decoration: none;
  border-radius: 5px;
}

.page_nation a.on {
  color: #fff;
  font-weight: 700;
  background: #396aff;
}
