#skipNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#skipNav a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  transform: translateY(-100%);
}
#skipNav a:focus,
#skipNav a:active {
  transform: translateY(0);
}
