/* **** button : chips **** */
// 배경색이 있는 타입
.btn-chip-fill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--#{$prefix}gray-10);
  color: var(--#{$prefix}--#{$prefix}gray-90);

  &:hover {
    background-color: var(--#{$prefix}secondary-5);
  }
  &:active {
    background-color: var(--#{$prefix}secondary-10);
  }
  &[disabled],
  &.disabled {
    background-color: var(--#{$prefix}gray-30);
  }
}

//외곽 라인이 있는 타입
.btn-chip-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 0.2rem;
  background-color: var(--#{$prefix}white);
  border: 0.1rem solid var(--#{$prefix}gray-40);
  color: var(--#{$prefix}--#{$prefix}gray-90);

  &:hover {
    background-color: var(--#{$prefix}secondary-5);
  }
  &:active {
    background-color: var(--#{$prefix}secondary-10);
  }
  &:disabled,
  &.disabled {
    background-color: var(--#{$prefix}gray-30);
  }
}
