/* 공통 :: input / 셀렉트박스 / 텍스트영역 */
input {
  height: 32px;
}

input {
  background-color: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 1.4rem;
  color: #333333;
  box-sizing: border-box;
}
