/* @import class.scss */
// 설명 :: 공통 통합 클래스

/* ************** 공통class_01 :: Flex **************/

/* flex-direction */
.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-col {
    display: flex;
    flex-direction: column;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
  &-evenly {
    justify-content: space-evenly;
  }
  &-end {
    justify-content: end;
  }
}

.align {
  &-start {
    align-items: start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: end;
  }
}

.gap {
  &-1 {
    gap: var(--krds-spacer-1);
  }
  &-2 {
    gap: var(--krds-spacer-2);
  }
  &-3 {
    gap: var(--krds-spacer-3);
  }
  &-4 {
    gap: var(--krds-spacer-4);
  }
  &-5 {
    gap: var(--krds-spacer-5);
  }
  &-6 {
    gap: var(--krds-spacer-6);
  }
  &-7 {
    gap: var(--krds-spacer-7);
  }
  &-8 {
    gap: var(--krds-spacer-8);
  }
  &-9 {
    gap: var(--krds-spacer-9);
  }
  &-10 {
    gap: var(--krds-spacer-10);
  }
}

/* ************** 공통class_02 :: Width / Height ************** */

.wd {
  &-100 {
    width: 100%;
  }
  &-50 {
    width: calc(100% / 2);
  }
  &-33 {
    width: calc(100% / 3);
  }
  &-25 {
    width: calc(100% / 4);
  }
  &-20 {
    width: calc(100% / 5);
  }
}

.ht {
  &-100 {
    height: 100%;
  }
  &-50 {
    height: calc(100% / 2);
  }
  &-33 {
    height: calc(100% / 3);
  }
  &-25 {
    height: calc(100% / 4);
  }
  &-20 {
    height: calc(100% / 5);
  }
}

.wdht {
  &-100 {
    width: 100%;
    height: 100%;
  }
  &-50 {
    width: calc(100% / 2);
    height: calc(100% / 2);
  }
  &-33 {
    width: calc(100% / 3);
    height: calc(100% / 3);
  }
  &-25 {
    width: calc(100% / 4);
    height: calc(100% / 4);
  }
  &-20 {
    width: calc(100% / 5);
    height: calc(100% / 5);
  }
}

/* ************** 공통class_03 :: Position ************** */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

/* ************** 공통class_04 :: Text ************** */

/* text-align / word-break / ellipsis / bold / underline / pointcolor */
.t {
  &-al {
    text-align: left;
  }
  &-ar {
    text-align: right;
  }
  &-ac {
    text-align: center;
  }
  &-ba {
    word-break: break-all;
  }
  &-ka {
    word-break: keep-all;
  }
  &-el-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-el-2 {
    display: block;
    max-width: 100%;
    height: 68px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-el-3 {
    display: block;
    max-width: 100%;
    height: 68px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-bold {
    font-weight: map-get($fws, bold);
  }
  &-underline {
    text-decoration: underline;
  }
  &-point-primary {
    color: var(--#{$prefix}primary);
  }
}

/* ************** 공통class_05 :: scrollbar ************** */
.scroll-no {
  overflow: hidden;
}

.scr {
  &-bar {
    overflow-y: auto;
  }
  &-bar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &-bar::-webkit-scrollbar-thumb {
    height: 30px;
    background: var(--color-primary);
    border-radius: 10px;
    /* background-clip: padding-box; */
    border: 2px solid transparent;
  }
  &-bar::-webkit-scrollbar-track {
    background-color: #d5d7df;
  }
}

/* ************** 공통class_06 :: Image ************** */

.img {
  > img {
    display: block;
  }
  &-wd-100 > img {
    width: 100%;
  }
  &-ht-100 > img {
    height: 100%;
  }
  &-wdht-100 > img {
    width: 100%;
    height: 100%;
  }
}

/* ************** 공통class_07 :: ir기법 ************** */

.blind,
hr,
.sr-only,
legend,
caption {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* 스크린리더기 인식x  / for 접근성 준수*/
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* ************** 공통class_08 :: 태그 ************** */
@include btn-chip(fill, lg);
@include btn-chip(outline, lg);
