@charset "utf-8";

/* *******************************************************
* 파일이름 : font.scss
* 파일설명 : 공통 폰트 스타일

=== 이 CSS 파일은 담당자만 수정, 추가, 삭제할 수 있습니다. ===

* 최종업데이트 : 2024-06-27-목

******************************************************** */

/* --------------------- 시작 --------------------- */

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-style: normal;
  src: url("../../font/pretendardGOV/PretendardGOV-Regular.subset.woff")
    format("woff");
}
/* Medium */
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-style: normal;
  src: url("../../font/pretendardGOV/PretendardGOV-Medium.subset.woff")
    format("woff");
}
/* Bold */
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-style: normal;
  src: url("../../font/pretendardGOV/PretendardGOV-Bold.subset.woff")
    format("woff");
}
