/*  @import font.scss */
// 설명 :: 공통 폰트 스타일

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-style: normal;
  src: url("(#{$url}font/pretendardGOV/PretendardGOV-Regular.subset.woff")
    format("woff");
}
/* Medium */
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-style: normal;
  src: url("(#{$url}font/pretendardGOV/PretendardGOV-Medium.subset.woff")
    format("woff");
}
/* Bold */
@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-style: normal;
  src: url("(#{$url}font/pretendardGOV/PretendardGOV-Bold.subset.woff")
    format("woff");
}
