/* @import mixins.scss */
// 설명 :: Scss 환경 함수

// 반응형 mixins
@mixin mobileLess {
  @media (max-width: $breakpoint-xsm) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

//tablet size 이하
@mixin desktop {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

//tablet size 이상
@mixin pc {
  @media (max-width: $breakpoint-xlg) {
    @content;
  }
}

//reset text : popover/tooltip
@mixin reset-text {
  font-family: var(--#{$prefix}-fz-body-md);
  font-style: normal;
  font-weight: map-get($fws, normal);
  line-height: $line-height-base;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  //word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
}

//focus color
@mixin focus($offset: -0.4rem, $color: $primary, $alpha: 0.8) {
  //border-radius: inherit;
  outline-offset: $offset;
  $transparent: 1 - $alpha;
  $focus-color: transparentize($color, $transparent);
  outline: 2px solid $focus-color;
}

//flex layout
@mixin flex-layout($d: flex, $ai: flex-start, $jc: flex-start, $fd: row) {
  display: $d;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

//text ellipsis
@mixin ellipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

//position
@mixin position($p: absolute, $t: null, $b: null, $l: null, $r: null) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}

//spacer
@mixin spacer($num) {
  @for $i from 1 through $num {
    $key: $i;
    $value: ($i * 4 * 0.1) + rem;
    //default spacers value: _variables.scss
    $spacers: map-merge(
      (
        $key: $value,
      ),
      $spacers
    ) !global;
  }
}
